<%= simple_form_for(@qwipp) do |f| %>
<%= f.error_notification %>
<div class="field">
  <div class="control is-main-font-color">
    <%= f.input :qwipp, label: false, input_html: { class: "textarea is-dark-bg-color is-main-font-color"}, wrapper: false, placeholder: "Don't think it, Qwipp it.", maxlength: "256" %>
  </div>
</div>
<%= f.button :submit, class: "button is-button-color is-button-font-color" %>
<% end %>