<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading is-dark-bg-highlight is-main-font-color">Trends</p>
        <a class="panel-block is-dark-bg-highlight is-main-font-color">
            Trend 1
        </a>
        <a class="panel-block is-dark-bg-highlight is-main-font-color">
            Trend 2
        </a>
        <a class="panel-block is-dark-bg-highlight is-main-font-color">
            Trend 3
        </a>
        <a class="panel-block is-dark-bg-highlight is-main-font-color">
            Trend 4
        </a>
        <a class="panel-block is-dark-bg-highlight is-main-font-color">
            Trend 5
        </a>
    </nav>
</div>