<div class="column">
    <nav class="panel">
        <p class="panel-heading is-dark-bg-highlight is-main-font-color">Who to Follow</p>
    </nav>
    <div class="panel-block is-dark-bg-highlight">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/32x32.png" alt="">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="is-main-font-color">John Smith</strong>
                        <small class="is-main-font-color">@johnsmith</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="panel-block is-dark-bg-highlight">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/32x32.png" alt="">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="is-main-font-color">John Smith</strong>
                        <small class="is-main-font-color">@johnsmith</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="panel-block is-dark-bg-highlight">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/32x32.png" alt="">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="is-main-font-color">John Smith</strong>
                        <small class="is-main-font-color">@johnsmith</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
</div>