<% if user_signed_in? %>
  <% if current_user.id == @qwipp.user.id %>
    <h1>Editing qwipp</h1>

    <%= render "form", qwipp: @qwipp %>

    <br>

    <div>
      <%= link_to "Show this qwipp", @qwipp %> |
      <%= link_to "Back to qwipps", qwipps_path %>
    </div>
  <% end %>
<% end %>
